-var list = ['1','2','3']
html
    head
        //- bower:css
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
        //- endbower
        //- bower:js
        script(src='/lib/jquery/dist/jquery.js')
        script(src='/lib/bootstrap/dist/js/bootstrap.js')
        //- endbower
        //- inject:css
        link(rel="stylesheet", href="/css/styles.css")
        //- endinject
        //- inject:js
        script(src="/js/app.js")
        //- endinject
        title MyApp
    body(class=['abc', 'xyz'])
        h1(id='MyId') My App
        p
            h3 sub heading
            ul
                each val in ['a','b','c']
                    li= val
                each val in list
                    li= val
                //
                    glist passed from app.js                 
                each val in glist 
                    li= val


